<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>SOperaciones</title>
</head>
<body>
  <h1>Resultados</h1>
  <h2>El resultado de la suma es: <span th:text ="${resultadoS}"></span></h2>
  <h2>El resultado de la resta es: <span th:text ="${resultadoR}"></span></h2>
  <h2>El resultado de la Multiplicacion es: <span th:text ="${resultadoM}"></span></h2>
  <h2>El resultado de la Division es: <span th:text ="${resultadoD}"></span></h2>
  <h2>El resultado de la Potencia es: <span th:text ="${resultadoP}"></span></h2>
  <h2>El resultado de la 1er Raiz Cuadrada es: <span th:text ="${resultadoRC1}"></span></h2>
  <a href="menu">Volver al menu</a>
</body>
</html>